target
*.iml
.idea
*.log
web/src/frontend/node_modules
/web/src/frontend/messages

/web/src/main/webapp/js
/web/src/main/webapp/css
/web/src/main/webapp/img
/web/src/main/webapp/index.html
screenshots
