*.iml
*.log
*.gz
.idea
.idea/*
APP_LOG_HOME_IS_UNDEFINED/

src/frontend/node_modules/
src/frontend/build/
src/frontend/coverage/
src/frontend/public/index.css

target/
node_modules/
src/main/resources/static/
src/main/resources/public/
!src/main/resources/public/internal/*
