@import "variabler";

.stillinger-container {
    display: flex;
    flex-flow: row wrap;
}

.stillinger-oversikt {
    flex-grow: 1;
    display: inline-block;
    width: 100%;
}

.stillinger-bransjer {
    flex-grow: 1;
    display: inline-block;
    width: 100%;
}

.stillinger-statistikk {
    flex-grow: 1;
    display: inline-block;
    width: 100%;
}

.stillinger-stillingsliste {
  flex-grow: 1;
  display: inline-block;
  width: 100%;
}

.valgte-omrader {
    margin: 0.5rem 0 0.5rem 0;
    display: inline-block;
    width: 85%;
}

.valgte-omrader-container .valgte-omrader-liste {
  font-weight:600;
}
.ledigestillinger-oversikt-graf .valgte-omrader-tittel {
  font-weight:600;
}

.grafvisning-tabs{
  display: flex;
  justify-content: flex-end;
}

.panel-oversikt {
    position: relative;
    background-color: @white;
}

.omradeHeader {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.omradetitelWraper {
  flex-grow: 1;
  border-bottom: 1px @navGra20 solid;
}

.omradeTittel {
  margin-bottom: 0.3rem;
}

.panel-oversikt  .oversikt-toggle {
  color: black;
}

.panel-oversikt .velg-omrader {
    margin-top: 2rem;

  .knapp {
    white-space: pre-line;
  }
}

.valgte-omrader-container {
    display: inline;

    .hjelpetekst {
        position: relative;
        float: right;
        margin-top: 10px;
        margin-right: 5px;
    }
}

.bransje-header {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-width: 0;
  padding-bottom: 0.3rem;
  border-bottom-width: 1px;
  border-color: @navGra20;
}

@media (min-width: @screen-desktop) {
  .bransje-header {
    padding-top: 1.1rem;
  }
}

.inline {
  display: inline;
}

.kart-omrader-container {
    position: relative;
}

.kommune-navn {
    width: 50%;
}

.oversikt-kart {
    display: inline-block;
    width: 100%;

    .leaflet-container {
        height: 800px;
        background-color: @white;
    }

    .leaflet-popup {
        pointer-events: none;

        .leaflet-popup-close-button {
            display: none;
        }
    }
}

// ----------------------- Stillinger -----------------------

.stillingsliste-header {
    display: inline-block;
}

.list-with-hover .row:hover {
    background-color: @white-background;
    text-decoration: underline;
}

.stillinger-antallstillinger {
    width: 150px;
}

.stillinger-arbeidsgiver {
    width: 300px;
}

.stillinger-soknadsfrist {
    width: 120px;
}

@media (min-width: @screen-desktop) {
    .stillinger-oversikt {
        width: 60%;
        box-sizing: border-box;
        padding-left: 1rem;
    }

    .stillinger-bransjer {
        width: 40%;
        box-sizing: border-box;
        padding-right: 1rem;
    }
}
