@import "variabler";

.hovedinnhold {
    padding: 0 1rem 2rem 1rem;
}

#root {
    background: @white-background;
}

@media (min-width: @screen-lg-desktop) {
    .side-midtstilt {
        width: 1200px;
        margin: 0 auto;
    }
}

.text-center {
    text-align: center;
}

.hjelpetekst-overskrift {
    display: inline;
}

.liste-omrade {
    list-style: none;
    padding-left: 2rem;

    li:first-child {
        margin-top: 0.5rem;
    }
}
