@import "variabler";

.bransjevalg .hjelpetekst {
  top: 5px;
}

.tabell th.text-center {
    text-align: center;
}

.text-right {
  float: right;
  text-align: right;
}

.ReactModal__Content {
  width: 550px;
  padding-left: 3rem;
  padding-right: 3rem;
}

.text-center {
  text-align: center;
}

.lenke {
  border: none;

  > span {
    border-bottom: solid 1px @navGra20;

    &:hover {
      border-color: @navBla;
    }
  }
}

.checkbox-expanded > .checkboks:checked + .skjemaelement__label:before {
  background-image: url('input_checkbox_checked_expanded.svg');
  background-size: auto;
}