.bransjevalg .hjelpetekst {
  top: 5px;
}

.tabell th.text-center {
    text-align: center;
}

.text-right {
  float: right;
  text-align: right;
}

.ReactModal__Content {
  min-width: 550px;
}

.text-center {
  text-align: center;
}

.checkbox-expanded > .checkboks:checked + .skjemaelement__label:before {
  background-image: url('input_checkbox_checked_expanded.svg');
  background-size: auto;
}