@appPrefixUrl: "mia";
@bransje-boks-height: 10rem;
@bransje-boks-width: 11rem;

// TODO: Erstatt med nav-frontend
@gray-background: #efefef;
@gray-icon: #3E3832;
@gray-text: #3E3832;
@black: #000000;
@blue-active: #5EAEC7;
@orange-focus: #FFBD66;
@rem-as-30px: 1.875rem;
@yellow: #ff9100;
