.header {
    height: 4rem;
    background: #3e3832;
    display: flex;
    align-items: center;
}

.pagewrapper {
    width: 100%;
    float: left;
}

.header-logo {
    height: @rem-as-38px;
    margin-left: 20px;
}

.header-appnavn {
    padding-left: 20px;
    font-size: @rem-as-20px;
    color: @white;
}

body {
    margin: 0;
}