.header {
    height: 4rem;
    background: #3e3832;
    display: block;
}

.sidebar {
    background: #3e3832;
    display: inline-block;
    width: 4rem;
    min-height: calc(100vh - 4rem);
    float: left;
    height: 100%;
}

.pagewrapper {
    float: left;
}

body {
    margin: 0;
}