@import "@{modig-frontend-root-url}/less/includes/variables";

.stillinger-oversikt {
    display: block;
}

.panel-oversikt {
    min-height: 600px;
}

.stillinger-bransjer {
    display: block;
}

.stillinger-statistikk {
    display: block;
}

@media (min-width: @screen-xl) {
    .stillinger-oversikt {
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        padding-right: 0.5rem;
    }

    .stillinger-bransjer {
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        padding-left: 0.5rem;
    }
}

// ----------------------- Bransjer -----------------------

.bransjeBoksContainer {
  border: 0;
  text-align: left;
  height: 10rem;
  width: 12rem;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5rem;
  background-color: @gray-text;
  color: @white;
  margin: 5px;
  position: relative;
  float: left;
}

.bransjeBoksContainer:focus {
  outline: 0;
  box-shadow: 0 0 0 3px @orange-focus;
}

.bransjeBoksContainer:hover {
  background-color: @color-gray-additional;
  color: @black;
}

.aktivBransjeBoks {
  background-color: @blue-link-negative;
  color: @black;
  border: 1px solid @black;
}

.bokserContainer {
  width: 100%;
  display: inline-block;
}

.boksNavn {
  position: absolute;
  top: 1.25rem;
  word-wrap: break-word;
}

.boksAntall {
  font-size: @rem-as-38px;
  position: absolute;
  bottom: @rem-as-20px;
  right: @rem-as-20px;
}
