@import "@{modig-frontend-root-url}/less/includes/variables";

.stillinger-container {
    display: block;
}

.stillinger-oversikt {
    display: block;
}

.panel-oversikt {
    min-height: 600px;
}

.stillinger-bransjer {
    display: block;
}

.stillinger-statistikk {
    display: block;
}

.panel-oversikt {
    position: relative;
}

.panel-oversikt .oversikt-toggle {
    position: absolute;
    bottom: 0.5rem;
    right: 2rem;
}

@media (min-width: @screen-xl) {
    .stillinger-oversikt {
        display: inline-block;
        width: 50%;
        float: left;
        box-sizing: border-box;
        padding-right: 0.5rem;
    }

    .stillinger-bransjer {
        display: inline-block;
        width: 50%;
        float: left;
        box-sizing: border-box;
        padding-left: 0.5rem;
    }

    .stillinger-statistikk {
        clear: both;
    }
}

// ----------------------- Bransjer -----------------------

.bransje-boks-container {
  border: 0;
  text-align: left;
  height: 10rem;
  width: 12rem;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5rem;
  background-color: @gray-text;
  color: @white;
  margin: 5px;
  position: relative;
  float: left;
}

.bransje-boks-container:focus {
  outline: 0;
  box-shadow: 0 0 0 3px @orange-focus;
}

.bransje-boks-container:hover {
  background-color: @color-gray-additional;
  color: @black;
}

.aktiv-bransjeboks {
  background-color: @blue-link-negative;
  color: @black;
  border: 1px solid @black;
}

.bokser-container {
  width: 100%;
  display: inline-block;
}

.boks-navn {
  position: absolute;
  top: 1.25rem;
  word-wrap: break-word;
}

.boks-antall {
  font-size: @rem-as-38px;
  position: absolute;
  bottom: @rem-as-20px;
  right: @rem-as-20px;
}
